.coin-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  height: 80px;
  width: 90vw;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.coin h1 {
  display: none;
}

.coin img {
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.coin-symbol {
  font-size: 2rem;
  text-transform: uppercase;
}

.coin-row .coin-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}
.coin-price,
.coin-percent {
  font-size: 1.6rem;
  padding: 0.25rem 0 0.25rem 0;
  text-align: right;
}

.coin-volume {
  display: none;
}

.coin-marketcap {
  display: none;
}

.red {
  color: #f00606;
}

.green {
  color: green;
}

@media screen and (min-width: 1030px) {
  .coin-container {
    display: flex;
    justify-content: center;
  }

  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 900px;
    border-bottom: 1px solid #d7d7d7;
  }

  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
  }

  .coin-volume,
  .coin-marketcap,
  .coin h1,
  .coin-data {
    display: block;
    font-size: 1.5rem;
  }

  .coin h1 {
    font-size: 16px;
    width: 150px;
  }

  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .coin-symbol {
    text-transform: uppercase;
  }

  .coin-row .coin-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }

  .coin-price {
    width: 110px;
  }

  .coin-volume {
    width: 200px;
  }

  .coin-marketcap {
    font-size: 1.5rem;
    width: 240px;
  }

  .coin-percent {
    width: 80px;
  }
}
